# Ignore node_modules folder
node_modules/

# Ignore build and cache folders
.next/
out/
.cache/

# Ignore environment files
.env
.env.local
.env.development
.env.production
.env.test

# Ignore log files
*.log

# Ignore system files
.DS_Store

# Ignore static-app audio files
static-app/public/Data/Audio/**/*.mp3

# Ignore layav1 audio files
layav1/public/Data/Audio/**/*.mp3